@import url("https://fonts.cdnfonts.com/css/terminal");

html {
  color-scheme: dark;
  font-family: "Terminal", sans-serif;
}

br {
  display: none;
}

::placeholder {
  color: #bbb;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

* {
  font-weight: 400;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  resize: none;
  font-family: "Terminal", sans-serif;
  cursor: url('cursor.png'), auto;
}

body {
  padding: 20px 40px;
  max-width: 780px;
  min-width: 400px;
  min-height: 700px;
  margin-inline: auto;
}

header{
  position: fixed;
  background: #111;
  padding-top: 15px;
  width: 100vw;
  top: 0;
  height: 95px;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

h1 {
  margin-bottom: 10px;
}

#info {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

select {
  margin-bottom: 20px;
  padding: 0;
  margin: 0;
}

option {
  background: #000;
}

#chat {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

#messageList {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  font-size: 0.9em;
}

.ai {
  color: #199115;
  margin-bottom: 10px;
}

.user {
  width: 70%;
  margin-bottom: 10px;
  align-self: end;
  text-align: right;
}

#messageList li {
  padding-bottom: 5px;
}

#messageInput {
  padding-inline: 40px;
  padding-bottom: 20px;
}

.placeholder {
  color: #aaa;
}

button {
  cursor: pointer;
  display: grid;
  place-content: center;
  white-space: nowrap;
}

#backDown {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.4em;
  display: none;
}

#info button{
  font-size: .5em;
  opacity: .5;
}

#info button:hover{
  opacity: 1;
}

@media (max-width: 530px) {
  header{
     height: 135px;
  }

  #chat{
    margin-top: 105px;   
  }
}
